In [1]:
import pandas as pd
import numpy as np

# Explore the Data

### Read the Data

In [2]:
crime = pd.read_csv('./crime.csv')
crime

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,9672482,HX322338,2014-06-28T11:02:00Z,030XX S NORMAL AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,False,...,11.0,60.0,14,1173453.0,1884797.0,2014,2018-02-10T03:50:01Z,41.839303,-87.639001,"(41.839303195, -87.639000957)"
1,8652653,HV328417,2012-06-10T12:00:00Z,029XX S LOOMIS ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE-GARAGE,False,False,...,11.0,60.0,14,1168580.0,1885324.0,2012,2016-02-04T06:33:39Z,41.840856,-87.656867,"(41.840856037, -87.65686732)"
2,9357626,HW500140,2013-10-20T02:00:00Z,029XX S CANAL ST,1310,CRIMINAL DAMAGE,TO PROPERTY,STREET,False,False,...,11.0,60.0,14,1173766.0,1885503.0,2013,2018-02-10T03:50:01Z,41.841234,-87.637831,"(41.841233568, -87.637831421)"
3,6043894,HP146278,2008-01-27T06:42:52Z,034XX S PARNELL AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,11.0,60.0,14,1173190.0,1882150.0,2008,2018-02-28T03:56:25Z,41.832045,-87.640044,"(41.83204543, -87.640044437)"
4,12689202,JF230287,2022-05-04T05:05:00Z,029XX S THROOP ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,11.0,60.0,14,1169930.0,1885355.0,2022,2022-05-11T04:49:57Z,41.840912,-87.651912,"(41.84091182, -87.651912438)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20077,1807040,G636924,2001-10-23T01:00:00Z,020XX N KILPATRICK AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1144681.0,1913196.0,2001,2015-08-17T03:03:40Z,41.917823,-87.743866,"(41.917823214, -87.743866097)"
20078,1859444,G701893,2001-11-21T05:00:00Z,014XX N MASON AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1136382.0,1909102.0,2001,2015-08-17T03:03:40Z,41.906741,-87.774455,"(41.906741271, -87.774455458)"
20079,1353293,G057398,2001-01-28T12:30:00Z,072XX S KIMBARK AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1186170.0,1857257.0,2001,2015-08-17T03:03:40Z,41.763440,-87.593206,"(41.76343982, -87.593206253)"
20080,1381280,G092820,2001-02-13T07:00:00Z,081XX S VERNON AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1180625.0,1850906.0,2001,2015-08-17T03:03:40Z,41.746141,-87.613724,"(41.746141111, -87.613724292)"
20081,1606451,G379049,2001-06-29T12:45:00Z,068XX S JEFFERY BL,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1190691.0,1859729.0,2001,2015-08-17T03:03:40Z,41.770115,-87.576556,"(41.770115246, -87.576556428)"

### Info

In [3]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20082 entries, 0 to 20081
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_key            20082 non-null  int64
 1   case_number           20082 non-null  object
 2   date                  20082 non-null  object
 3   block                 20082 non-null  object
 4   iucr                  20082 non-null  object
 5   primary_type          20082 non-null  object
 6   description           20082 non-null  object
 7   location_description  20072 non-null  object
 8   arrest                20082 non-null  bool
 9   domestic              20082 non-null  bool
 10  beat                  20082 non-null  int64
 11  district              20082 non-null  int64
 12  ward                  14048 non-null  float64
 13  community_area        14038 non-null  float64
 14  fbi_code              20082 non-null  object
 15  x_coordinate          19860 non-null  float64
 16  y_coordinate          19860 non-null  float64
 17  year                  20082 non-null  int64
 18  updated_on            20082 non-null  object
 19  latitude              19860 non-null  float64
 20  longitude             19860 non-null  float64
 21  location              19860 non-null  object
dtypes: bool(2), float64(6), int64(4), object(10)
memory usage: 3.1+ MB

Note: ward, community_area, x_coordinate, y_coordinate, latitude, longitude, location may have null value

### DF

In [4]:
chicago_crime = pd.DataFrame(crime)
chicago_crime.size, chicago_crime.shape

(441804, (20082, 22))

In [5]:
# Check the columns
chicago_crime.columns

Index(['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location'],
      dtype='object')

In [6]:
# check columns datatypes
chicago_crime.dtypes

unique_key                int64
case_number              object
date                     object
block                    object
iucr                     object
primary_type             object
description              object
location_description     object
arrest                     bool
domestic                   bool
beat                      int64
district                  int64
ward                    float64
community_area          float64
fbi_code                 object
x_coordinate            float64
y_coordinate            float64
year                      int64
updated_on               object
latitude                float64
longitude               float64
location                 object
dtype: object

In [7]:
# show the null values
null_values = chicago_crime.loc[chicago_crime.isna().any(axis=1)]
null_values

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
205,2876338,HJ541399,2003-08-05T08:45:00Z,021XX W 52ND ST,501A,OTHER OFFENSE,ANIMAL ABUSE/NEGLECT,RESIDENCE,False,False,...,16.0,61.0,26,NaN,NaN,2003,2015-08-17T03:03:40Z,NaN,NaN,NaN
217,11476318,JB474220,2008-03-16T12:00:00Z,048XX S SEELEY AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,True,...,15.0,61.0,02,NaN,NaN,2008,2019-01-26T04:02:53Z,NaN,NaN,NaN
282,6940140,HR320987,2009-05-14T06:05:00Z,054XX S DAMEN AVE,2017,NARCOTICS,MANU/DELIVER:CRACK,PARKING LOT/GARAGE(NON.RESID.),True,False,...,16.0,61.0,18,NaN,NaN,2009,2015-08-17T03:03:40Z,NaN,NaN,NaN
735,2377111,HH678579,2002-09-28T04:37:00Z,012XX W 49TH ST,0460,BATTERY,SIMPLE,STREET,False,False,...,20.0,61.0,08B,NaN,NaN,2002,2015-08-17T03:03:40Z,NaN,NaN,NaN
749,2362517,HH662189,2002-09-21T12:15:00Z,016XX W GARFIELD BLVD,0460,BATTERY,SIMPLE,SIDEWALK,False,False,...,16.0,61.0,08B,NaN,NaN,2002,2015-08-17T03:03:40Z,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20077,1807040,G636924,2001-10-23T01:00:00Z,020XX N KILPATRICK AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1144681.0,1913196.0,2001,2015-08-17T03:03:40Z,41.917823,-87.743866,"(41.917823214, -87.743866097)"
20078,1859444,G701893,2001-11-21T05:00:00Z,014XX N MASON AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1136382.0,1909102.0,2001,2015-08-17T03:03:40Z,41.906741,-87.774455,"(41.906741271, -87.774455458)"
20079,1353293,G057398,2001-01-28T12:30:00Z,072XX S KIMBARK AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1186170.0,1857257.0,2001,2015-08-17T03:03:40Z,41.763440,-87.593206,"(41.76343982, -87.593206253)"
20080,1381280,G092820,2001-02-13T07:00:00Z,081XX S VERNON AV,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1180625.0,1850906.0,2001,2015-08-17T03:03:40Z,41.746141,-87.613724,"(41.746141111, -87.613724292)"
20081,1606451,G379049,2001-06-29T12:45:00Z,068XX S JEFFERY BL,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,NaN,NaN,07,1190691.0,1859729.0,2001,2015-08-17T03:03:40Z,41.770115,-87.576556,"(41.770115246, -87.576556428)"

In [8]:
# Working with non null data
data = chicago_crime.dropna()

In [9]:
# Show the crime types
data['primary_type'].value_counts()

BATTERY                              2479
THEFT                                2346
CRIMINAL DAMAGE                      2010
NARCOTICS                            1385
ASSAULT                               958
OTHER OFFENSE                         916
BURGLARY                              799
MOTOR VEHICLE THEFT                   688
DECEPTIVE PRACTICE                    528
ROBBERY                               479
CRIMINAL TRESPASS                     405
WEAPONS VIOLATION                     240
OFFENSE INVOLVING CHILDREN            142
PUBLIC PEACE VIOLATION                115
PROSTITUTION                          101
SEX OFFENSE                            51
INTERFERENCE WITH PUBLIC OFFICER       48
ARSON                                  37
CRIM SEXUAL ASSAULT                    35
GAMBLING                               30
HOMICIDE                               23
LIQUOR LAW VIOLATION                   20
KIDNAPPING                             18
STALKING                               12
INTIMIDATION                           11
CRIMINAL SEXUAL ASSAULT                 8
CONCEALED CARRY LICENSE VIOLATION       4
OBSCENITY                               1
Name: primary_type, dtype: int64

In [10]:
# Show crime areas
data['block'].value_counts().head(25)

038XX W ROOSEVELT RD         61
051XX S PULASKI RD           38
032XX W ROOSEVELT RD         35
039XX W ROOSEVELT RD         35
021XX E 87TH ST              35
049XX N MILWAUKEE AVE        32
002XX W GARFIELD BLVD        30
008XX E 103RD ST             29
054XX S WENTWORTH AVE        29
033XX W FILLMORE ST          27
039XX W GRENSHAW ST          26
049XX S ARCHER AVE           26
036XX W DOUGLAS BLVD         26
046XX S DAMEN AVE            25
031XX S ASHLAND AVE          25
051XX S WENTWORTH AVE        24
037XX W ROOSEVELT RD         24
012XX S INDEPENDENCE BLVD    24
038XX W GRENSHAW ST          23
054XX S DAMEN AVE            23
035XX W ROOSEVELT RD         23
045XX S DAMEN AVE            23
053XX S PULASKI RD           23
007XX E 111TH ST             23
013XX S INDEPENDENCE BLVD    22
Name: block, dtype: int64

In [11]:
# I assume some of the least crimes would be severe crimes 
chicago_crime['description'].value_counts().tail(10)

AGGRAVATED - OTHER                             1
EXTORTION                                      1
ARMED WHILE UNDER THE INFLUENCE                1
SEX OFFENDER - FAIL TO REGISTER NEW ADDRESS    1
ATTEMPT ARMED - OTHER DANGEROUS WEAPON         1
POSSESSION: SYNTHETIC MARIJUANA                1
GUN OFFENDER: DUTY TO REGISTER                 1
POSSESS - SYNTHETIC DRUGS                      1
VEHICLE TITLE / REGISTRATION OFFENSE           1
ESCAPE                                         1
Name: description, dtype: int64

In [12]:
chicago_crime['description'].value_counts().size

291

In [13]:
# check domestic and arrest
# another way: chicago_crime[chicago_crime.columns[8:10]]
chicago_crime.loc[:, ['domestic', 'arrest']]

       domestic  arrest
0         False    True
1         False   False
2         False   False
3         False   False
4         False   False
...         ...     ...
20077     False   False
20078     False   False
20079     False   False
20080     False   False
20081     False   False

[20082 rows x 2 columns]

In [14]:
# Check the arrest total
# chicago_crime['arrest'] == True
count = 0
for i in chicago_crime['arrest']:
    if i == True:
        count +=1
print(count)

5215

In [15]:
# Check the domestic total
# chicago_crime['domestic'] == True
count = 0
for i in chicago_crime['domestic']:
    if i == True:
        count +=1
print(count)

2788

In [16]:
# Store the domestic and arrest columns in a dictionary 
# to use conditionals
# check where arrest and domestic are True
domestic_arrest = {
    'arrest': chicago_crime['arrest'],
    'domestic': chicago_crime['domestic']
}

type(domestic_arrest)

dict

In [ ]:
# show where the arrest and domestic are True
for key, values in domestic_arrest['arrest'].items():
    if key and values == True:
        print(key, values)

In [ ]:
# show where the arrest and domestic are True
for key, values in domestic_arrest['domestic'].items():
    if key and values == True:
        print(key, values)

In [ ]:
# variable to store the index
# where domestic and arrest are True
domestic_arrest_index_true = []

# show the index where domestic and arrest are both True 
for key1, values1 in domestic_arrest['domestic'].items(): # Get the domestic index and value
    if key1 and values1 == True: # if True
        for key2, values2 in domestic_arrest['arrest'].items(): # # Get the arrest index and value
            if key2 and values2 == True: # if True
                if key1 == key2: # both arrest and domestic index must be the same 
                    domestic_arrest_index_true.append(key1) # append the index 
                    print(key1) # index that meets the conditionals
print(domestic_arrest_index_true[:5])

In [20]:
# check the list length
# This is the total where the crime happends domestically and the assialant(s) is/are arrested
len(domestic_arrest_index_true)

527

In [ ]:
# validate the list
count_list = 0

for key1, values1 in domestic_arrest['domestic'].items(): # Get the domestic index and value
    if key1 and values1 == True: # if True
        for key2, values2 in domestic_arrest['arrest'].items(): # # Get the arrest index and value
            if key2 and values2 == True: # if True
                if key1 == key2: # both arrest and domestic index must be the same 
                    count_list += 1
                    print(key1, values1, key2, values2)

In [22]:
# check
print(count_list)

527

Note: list and the check have the same length and values, thus we can use the list (index) for analysis

In [23]:
# Turn the list into pandas Series
index_domestic_arrest = pd.Series(domestic_arrest_index_true)
index_domestic_arrest.head()

0     12
1    103
2    151
3    158
4    160
dtype: int64

Note: I change the list to Series just to ease the analysis.
- Suppose it's easier to do this in pandas

# Variables Navigations

Since I created many variables, this list would help me to navigate throughout the variables for analysis
- data = drop all null values
- chicage_crime = DF for the dataset
- null_values = all rows that possess null values on the dataset
- index_domestic_arrest = Series where domestic and arrest are True
- domestic_arrest_index_true = index_domestic_arrest's List

In [24]:
data.head(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,9672482,HX322338,2014-06-28T11:02:00Z,030XX S NORMAL AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,False,...,11.0,60.0,14,1173453.0,1884797.0,2014,2018-02-10T03:50:01Z,41.839303,-87.639001,"(41.839303195, -87.639000957)"
1,8652653,HV328417,2012-06-10T12:00:00Z,029XX S LOOMIS ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE-GARAGE,False,False,...,11.0,60.0,14,1168580.0,1885324.0,2012,2016-02-04T06:33:39Z,41.840856,-87.656867,"(41.840856037, -87.65686732)"

In [25]:
# Check the top 10 location description
data['location_description'].value_counts().head(10)

STREET                            3692
RESIDENCE                         2695
SIDEWALK                          1202
APARTMENT                         1197
PARKING LOT/GARAGE(NON.RESID.)     454
OTHER                              438
RESIDENCE-GARAGE                   340
ALLEY                              332
SCHOOL, PUBLIC, BUILDING           302
VEHICLE NON-COMMERCIAL             235
Name: location_description, dtype: int64

In [26]:
# check the primary type
data['primary_type'].value_counts().head(10)

BATTERY                2479
THEFT                  2346
CRIMINAL DAMAGE        2010
NARCOTICS              1385
ASSAULT                 958
OTHER OFFENSE           916
BURGLARY                799
MOTOR VEHICLE THEFT     688
DECEPTIVE PRACTICE      528
ROBBERY                 479
Name: primary_type, dtype: int64

In [27]:
data.columns

Index(['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location'],
      dtype='object')

- focus on battery, theft, criminal damage
- correlation with (arrest, domestic, description), (location description, location)
- year

In [28]:
result = []
for crime_type in data['primary_type']:
    if crime_type == 'BATTERY':
        result.append(crime_type)
result[:4]

['BATTERY', 'BATTERY', 'BATTERY', 'BATTERY']

In [29]:
# Check
'CRIMINAL DAMAGE' in result, 'THEFT' in result, 'BATTERY' in result, 'NARCOTICS'in result, 'OTHER OFFENCE' in result,

(False, False, True, False, False)

In [30]:
# Check BATTERY relation with description, arrest, domestic
battery_crime = data[data['primary_type'] == 'BATTERY' ]
battery_crime.shape

(2479, 22)

In [31]:
# take a look at description column
print(battery_crime['description'].value_counts().shape)
print(battery_crime['description'].value_counts().head(31))

(31,)
DOMESTIC BATTERY SIMPLE                                        1172
SIMPLE                                                          841
AGGRAVATED: OTHER DANG WEAPON                                   129
AGGRAVATED: HANDGUN                                              50
AGGRAVATED:KNIFE/CUTTING INSTR                                   49
AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON                   34
PRO EMP HANDS NO/MIN INJURY                                      33
AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST                  31
AGG PO HANDS NO/MIN INJURY                                       28
AGGRAVATED - HANDGUN                                             20
AGG: HANDS/FIST/FEET NO/MINOR INJURY                             18
AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET SERIOUS INJURY      12
AGGRAVATED - OTHER DANGEROUS WEAPON                              11
AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS WEAPON              8
AGGRAVATED - KNIFE / CUTTING INSTRUMENT                           5
AGGRAVATED OF A SENIOR CITIZEN                                    5
AGGRAVATED DOMESTIC BATTERY - KNIFE / CUTTING INSTRUMENT          5
AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY           4
AGGRAVATED: OTHER FIREARM                                         4
AGGRAVATED DOMESTIC BATTERY                                       4
PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY        3
AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SERIOUS INJURY        3
AGGRAVATED DOMESTIC BATTERY: HANDGUN                              2
AGGRAVATED PO: OTHER DANG WEAP                                    1
AGG PRO.EMP: OTHER DANG WEAPON                                    1
AGG PO HANDS ETC SERIOUS INJ                                      1
AGG PRO EMP HANDS SERIOUS INJ                                     1
AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR INJURY                1
AGG: HANDS/FIST/FEET SERIOUS INJURY                               1
AGG PRO.EMP:KNIFE/CUTTING INST                                    1
AGGRAVATED PROTECTED EMPLOYEE - OTHER DANGEROUS WEAPON            1
Name: description, dtype: int64

Check the difference between DOMESTIC BATTERY SIMPLE and SIMPLE

In [32]:
battery_crime[battery_crime['description'] == 'DOMESTIC BATTERY SIMPLE'].tail(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
9356,9412643,HW556314,2013-12-02T06:00:00Z,057XX W HIGGINS AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,45.0,11.0,08B,1136960.0,1932689.0,2013,2018-02-10T03:50:01Z,41.971456,-87.771765,"(41.971456136, -87.771764596)"
9357,5937070,HN735766,2007-11-30T08:55:00Z,035XX S ARTESIAN AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,...,12.0,59.0,08B,1160597.0,1881160.0,2007,2018-02-28T03:56:25Z,41.829598,-87.686277,"(41.829598355, -87.686277105)"

In [33]:
battery_crime[battery_crime['description'] == 'SIMPLE'].tail(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
8771,10079690,HY268175,2015-05-20T03:40:00Z,133XX S LANGLEY AVE,0460,BATTERY,SIMPLE,CHA PARKING LOT/GROUNDS,True,False,...,9.0,54.0,08B,1183326.0,1817142.0,2015,2018-02-10T03:50:01Z,41.653426,-87.604874,"(41.653425905, -87.604873764)"
8772,5939953,HN738353,2007-12-02T11:40:00Z,107XX S EWING AVE,0460,BATTERY,SIMPLE,GROCERY FOOD STORE,False,False,...,10.0,52.0,08B,1202188.0,1834289.0,2007,2018-02-28T03:56:25Z,41.700021,-87.535279,"(41.700020818, -87.53527894)"

conclusion: The two are different since the fbi_code are different. No correlation with domestic column

# Question to answer

From this, it safe not to use description in analysis, because:
- description is messy
- Instead, how about battery crime that lead to arrest:
- how about its description?

In [34]:
battery_crime[battery_crime['arrest'] == True].head(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
151,12399489,JE271794,2021-06-19T12:01:00Z,008XX W 52ND ST,0497,BATTERY,AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS ...,STREET,True,True,...,20.0,61.0,04B,1171616.0,1870374.0,2021,2021-09-20T04:45:04Z,41.799766,-87.646165,"(41.799765636, -87.646165129)"
157,4719795,HM325669,2006-05-02T10:45:00Z,047XX S BISHOP ST,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, BUILDING",True,False,...,20.0,61.0,08B,1167467.0,1873258.0,2006,2018-02-28T03:56:25Z,41.807770,-87.661298,"(41.807769669, -87.661297945)"

546 BATTERY crime happened to lead to arrests

In [35]:
# Check the word 'GUN' for battery crime description
battery_crime.loc[battery_crime['description'].str.contains("GUN")][40:42]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
4594,12217022,JD426533,2020-11-09T08:05:00Z,019XX S TROY ST,041A,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,False,False,...,24.0,29.0,04B,1155664.0,1890335.0,2020,2020-12-17T03:44:58Z,41.854876,-87.704130,"(41.854876172, -87.704129692)"
4595,9890965,HX541206,2014-12-13T08:10:00Z,012XX S ALBANY AVE,041A,BATTERY,AGGRAVATED: HANDGUN,ALLEY,False,False,...,24.0,29.0,04B,1155906.0,1894238.0,2014,2018-02-10T03:50:01Z,41.865582,-87.703136,"(41.86558156, -87.70313629)"

No Shooting, but mostly AGGRAVATED HANDGUN

In [36]:
# Check where battery crime location in school or building
school_public_building = battery_crime.loc[battery_crime['location_description'].str.contains("SCHOOL|BUILDING|PUBLIC")]
battery_crime.loc[battery_crime['location_description'].str.contains("SCHOOL|BUILDING|PUBLIC")].tail(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
8812,10498608,HZ239990,2016-04-25T06:15:00Z,021XX E 87TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,"SCHOOL, PRIVATE, BUILDING",True,True,...,8.0,45.0,08B,1191768.0,1847705.0,2016,2018-02-10T03:50:01Z,41.737094,-87.572998,"(41.737094305, -87.572998178)"
8902,10086893,HY275780,2015-05-26T03:06:00Z,045XX W 46TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,FACTORY/MANUFACTURING BUILDING,True,True,...,14.0,57.0,08B,1147098.0,1873755.0,2015,2018-02-10T03:50:01Z,41.809546,-87.735994,"(41.809546288, -87.7359941)"

160 of battery crime happened in school or building or public

In [37]:
# Battery crime in school public building lead to arrests
battery_school_arrest = school_public_building[school_public_building['arrest'] == True]
battery_school_arrest[23:27]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
7585,5553491,HN361985,2007-05-24T10:43:00Z,092XX S PHILLIPS AVE,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, GROUNDS",True,False,...,7.0,48.0,08B,1194110.0,1844254.0,2007,2018-02-10T03:50:01Z,41.727567,-87.564531,"(41.727567355, -87.564530885)"
7610,7889261,HT117639,2011-01-13T10:00:00Z,131XX S CARVER DR,0479,BATTERY,AGG: HANDS/FIST/FEET SERIOUS INJURY,"SCHOOL, PUBLIC, BUILDING",True,False,...,9.0,54.0,04B,1186850.0,1818609.0,2011,2016-02-04T06:33:39Z,41.657369,-87.591934,"(41.65736912, -87.591933595)"
7818,3801338,HL161728,2005-02-04T10:32:00Z,008XX E 103RD ST,0420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,"SCHOOL, PUBLIC, BUILDING",True,False,...,9.0,50.0,04B,1183988.0,1836860.0,2005,2018-02-10T03:50:01Z,41.707519,-87.601839,"(41.707519433, -87.601839023)"
7948,7484723,HS278448,2010-04-27T12:05:00Z,008XX E 103RD ST,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, BUILDING",True,False,...,9.0,50.0,08B,1183988.0,1836860.0,2010,2018-02-10T03:50:01Z,41.707519,-87.601839,"(41.707519433, -87.601839023)"

44 battery crime cases in school, private, building lead to arrest

In [38]:
# Battery crime in school, private, building that lead to arrest, and domestic is True
battery_school_arrest[battery_school_arrest['domestic'] == True]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
8812,10498608,HZ239990,2016-04-25T06:15:00Z,021XX E 87TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,"SCHOOL, PRIVATE, BUILDING",True,True,...,8.0,45.0,08B,1191768.0,1847705.0,2016,2018-02-10T03:50:01Z,41.737094,-87.572998,"(41.737094305, -87.572998178)"
8902,10086893,HY275780,2015-05-26T03:06:00Z,045XX W 46TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,FACTORY/MANUFACTURING BUILDING,True,True,...,14.0,57.0,08B,1147098.0,1873755.0,2015,2018-02-10T03:50:01Z,41.809546,-87.735994,"(41.809546288, -87.7359941)"

# Another Question:
- How about location of the crime spread?

In [39]:
data['location']

0        (41.839303195, -87.639000957)
1         (41.840856037, -87.65686732)
2        (41.841233568, -87.637831421)
3         (41.83204543, -87.640044437)
4         (41.84091182, -87.651912438)
                     ...
14033    (41.722191224, -87.595504017)
14034      (41.9821052, -87.773204738)
14035    (41.733188721, -87.591403051)
14036     (41.725457345, -87.55805009)
14037    (41.923613437, -87.793511665)
Name: location, Length: 13889, dtype: object

## Export Data to Plot in Google Maps

In [40]:
# export a dataframe
export = data[['primary_type', 'location']]
export.to_csv('./location_cases.csv', 
                 index = False)

In [41]:
# check the data
map_plot = pd.read_csv('./location_cases.csv')
map_plot[map_plot['primary_type'] == 'BATTERY']

     primary_type                       location
151       BATTERY  (41.799765636, -87.646165129)
157       BATTERY  (41.807769669, -87.661297945)
158       BATTERY  (41.797022081, -87.674392638)
160       BATTERY  (41.797046142, -87.661021252)
161       BATTERY  (41.802669989, -87.655090533)
...           ...                            ...
9259      BATTERY   (41.72221878, -87.592961524)
9260      BATTERY  (41.811747899, -87.632659218)
9261      BATTERY    (41.98375277, -87.77680582)
9262      BATTERY  (41.971456136, -87.771764596)
9263      BATTERY  (41.829598355, -87.686277105)

[2479 rows x 2 columns]

In [42]:
# check for null again LOL
map_plot.isna().any()

primary_type    False
location        False
dtype: bool

Note: The maps can only plot 2000 points
- So, this is a drawback

# The Map

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1AD7vQSQKL4JFIchhr6hnXEAaKX5f47g&ehbc=2E312F" width="640" height="480"></iframe>

Note: 
- I still don't know how to plot it using Tableau or others, so I was looking for a way to visualise the crime location on a map. Found that Google Maps allow to create a custom map using a dataset.
- I was trying to visualise it using heatmap or smt

# Let's explore another type of crime

### Focus on
- stalking, kidnapping, sex offence, prostitution, crim sexual assault, criminal sexual assault

In [45]:
# prostitution, sex offence, crim sexual assault, stalking, kidnapping, , , , criminal sexuak assault

In [47]:
data['primary_type'].value_counts()

BATTERY                              2479
THEFT                                2346
CRIMINAL DAMAGE                      2010
NARCOTICS                            1385
ASSAULT                               958
OTHER OFFENSE                         916
BURGLARY                              799
MOTOR VEHICLE THEFT                   688
DECEPTIVE PRACTICE                    528
ROBBERY                               479
CRIMINAL TRESPASS                     405
WEAPONS VIOLATION                     240
OFFENSE INVOLVING CHILDREN            142
PUBLIC PEACE VIOLATION                115
PROSTITUTION                          101
SEX OFFENSE                            51
INTERFERENCE WITH PUBLIC OFFICER       48
ARSON                                  37
CRIM SEXUAL ASSAULT                    35
GAMBLING                               30
HOMICIDE                               23
LIQUOR LAW VIOLATION                   20
KIDNAPPING                             18
STALKING                               12
INTIMIDATION                           11
CRIMINAL SEXUAL ASSAULT                 8
CONCEALED CARRY LICENSE VIOLATION       4
OBSCENITY                               1
Name: primary_type, dtype: int64

Replace 'CRIM SEXUAL ASSAULT' with 'CRIMINAL SEXUAL ASSAULT'

In [82]:
data['primary_type'].replace(['CRIM SEXUAL ASSAULT'], 'CRIMINAL SEXUAL ASSAULT', inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20096\430319093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['primary_type'].replace(['CRIM SEXUAL ASSAULT'], 'CRIMINAL SEXUAL ASSAULT', inplace=True)

In [83]:
# Check
data['primary_type'].value_counts()

BATTERY                              2479
THEFT                                2346
CRIMINAL DAMAGE                      2010
NARCOTICS                            1385
ASSAULT                               958
OTHER OFFENSE                         916
BURGLARY                              799
MOTOR VEHICLE THEFT                   688
DECEPTIVE PRACTICE                    528
ROBBERY                               479
CRIMINAL TRESPASS                     405
WEAPONS VIOLATION                     240
OFFENSE INVOLVING CHILDREN            142
PUBLIC PEACE VIOLATION                115
PROSTITUTION                          101
SEX OFFENSE                            51
INTERFERENCE WITH PUBLIC OFFICER       48
CRIMINAL SEXUAL ASSAULT                43
ARSON                                  37
GAMBLING                               30
HOMICIDE                               23
LIQUOR LAW VIOLATION                   20
KIDNAPPING                             18
STALKING                               12
INTIMIDATION                           11
CONCEALED CARRY LICENSE VIOLATION       4
OBSCENITY                               1
Name: primary_type, dtype: int64

In [85]:
# Check LOL
35+8
# Can't believe I do this

43

In [145]:
# Check by looking for the spesific name ('CRIM SEXUAL ASSAULT)
data[data['primary_type'] == 'CRIM SEXUAL ASSAULT']

Empty DataFrame
Columns: [unique_key, case_number, date, block, iucr, primary_type, description, location_description, arrest, domestic, beat, district, ward, community_area, fbi_code, x_coordinate, y_coordinate, year, updated_on, latitude, longitude, location]
Index: []

[0 rows x 22 columns]

### Let's back to the question
- stalking, kidnapping, sex offence, prostitution, criminal sexual assault

### Let's point out this
- I want to see if there's a stalking crime that lead to kidnapping, sex offence, or criminal sexual assault (same case)

In [91]:
# I want to look at the date first to make sure
# First is to look at the salking crimes
stalking = data[data['primary_type'] == 'STALKING']
stalking[:2]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
479,7499228,HS302309,2010-05-11T02:20:00Z,043XX S WOOD ST,0580,STALKING,SIMPLE,STREET,False,True,...,12.0,61.0,08A,1165073.0,1875957.0,2010,2018-02-10T03:50:01Z,41.815227,-87.670002,"(41.815227068, -87.670002097)"
502,10907549,JA220167,2017-03-30T01:00:00Z,005XX W 41ST ST,0580,STALKING,SIMPLE,RESIDENCE,False,True,...,11.0,61.0,08A,1173413.0,1877729.0,2017,2018-02-10T03:50:01Z,41.819909,-87.639357,"(41.819908866, -87.639357255)"

In [92]:
# now let's check kidnapping crimes
kidnapping = data[data['primary_type'] == 'KIDNAPPING']
kidnapping[:2]
# Kinda hard since we can only look at the case number, date, amd the location

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
181,10515771,HZ257735,2016-04-01T03:00:00Z,019XX W 50TH ST,1792,KIDNAPPING,CHILD ABDUCTION/STRANGER,"SCHOOL, PUBLIC, GROUNDS",False,False,...,16.0,61.0,20,1164477.0,1871523.0,2016,2018-02-10T03:50:01Z,41.803072,-87.672313,"(41.803072258, -87.672313423)"
264,3434252,HK500619,2004-07-16T09:10:00Z,049XX S LOOMIS BLVD,1792,KIDNAPPING,CHILD ABDUCTION/STRANGER,SIDEWALK,False,False,...,16.0,61.0,20,1167839.0,1871794.0,2004,2018-02-28T03:56:25Z,41.803744,-87.659976,"(41.8037443, -87.659975618)"

In [93]:
sex_offence = data[data['primary_type'] == 'SEX OFFENSE']
sex_offence[:2]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
147,7023050,HR429893,2009-07-13T05:00:00Z,009XX W 51ST PL,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,...,20.0,61.0,17,1170888.0,1870681.0,2009,2018-02-28T03:56:25Z,41.800624,-87.648826,"(41.800624017, -87.648825932)"
184,10872798,JA172158,2017-03-09T08:30:00Z,049XX S LAFLIN ST,1570,SEX OFFENSE,PUBLIC INDECENCY,SIDEWALK,False,False,...,20.0,61.0,17,1167174.0,1871825.0,2017,2018-02-10T03:50:01Z,41.803844,-87.662414,"(41.803843637, -87.662413619)"

In [94]:
crim_sex_assault = data[data['primary_type'] == 'CRIMINAL SEXUAL ASSAULT']
crim_sex_assault[:2]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
193,5835160,HN639009,2007-10-08T07:30:00Z,047XX S WOOD ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,False,...,20.0,61.0,02,1165145.0,1873294.0,2007,2018-02-28T03:56:25Z,41.807918,-87.669813,"(41.807917966, -87.66981341)"
262,2720513,HJ349768,2003-05-04T10:00:00Z,050XX S MARSHFIELD AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,False,...,16.0,61.0,02,1166193.0,1871262.0,2003,2018-02-28T03:56:25Z,41.802320,-87.666027,"(41.802319657, -87.666027478)"

In [103]:
stalking, sex_offence, kidnapping, crim_sex_assault

False

In [ ]:
# Check the block in 
ct1 = 0
for so_crime_location in sex_offence['block']:
    # print(crime_location)
    ct1 +=1
    print(ct1, stalking['block'] == so_crime_location)
print(ct1)
# ANS: No

In [134]:
sex_offence.shape

(51, 22)

In [ ]:
# Check the block in 
ct2 = 0
for ki_crime_location in kidnapping['block']:
    # print(crime_location)
    ct2 +=1
    print(ct2, stalking['block'] == ki_crime_location)
print(ct2)
# ANS: No

In [136]:
kidnapping.shape

(18, 22)

In [ ]:
# Check the block in 
ct3 = 0
for cr_crime_location in crim_sex_assault['block']:
    # print(crime_location)
    ct3 +=1
    print(ct3, stalking['block'] == cr_crime_location)
print(ct3)
# ANS: NO

In [143]:
crim_sex_assault.shape

(43, 22)

Stalking cases block == sex offence, kidnapping, criminal sexual assault 
is 0

# Let's move to other Questions

Check whether any crime description were involved with child

In [148]:
data.loc[data['description'].str.contains("CHILD")][73:80]

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
7249,10044053,HY232782,2015-04-14T01:00:00Z,038XX W 111TH ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,"SCHOOL, PUBLIC, BUILDING",True,False,...,19.0,74.0,17,1152573.0,1830709.0,2015,2018-02-10T03:50:01Z,41.691315,-87.717043,"(41.691314623, -87.717043381)"
7259,4456628,HL753512,2005-11-24T09:15:00Z,035XX S WINCHESTER AVE,1790,OFFENSE INVOLVING CHILDREN,CHILD ABDUCTION,RESIDENCE,False,True,...,11.0,59.0,20,1163934.0,1881136.0,2005,2018-02-28T03:56:25Z,41.829463,-87.674034,"(41.829462872, -87.674034362)"
7261,3172251,HK173739,2002-11-01T12:01:00Z,037XX S HERMITAGE AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,...,11.0,59.0,02,1165301.0,1879815.0,2002,2018-02-28T03:56:25Z,41.825809,-87.669056,"(41.82580901, -87.669056347)"
7265,11937091,JC565609,2019-12-20T05:00:00Z,051XX N NORMANDY AVE,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,RESIDENCE,False,False,...,45.0,10.0,08B,1130918.0,1933740.0,2019,2020-01-03T03:56:42Z,41.974447,-87.793958,"(41.974446713, -87.793957866)"
7309,2594504,HJ182886,2003-02-14T05:30:00Z,027XX N NORDICA AVE,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,RESIDENCE,True,True,...,36.0,18.0,20,1128624.0,1917323.0,2003,2018-02-28T03:56:25Z,41.929436,-87.802767,"(41.929435928, -87.802767497)"
7351,7814308,HS624184,2010-11-18T03:00:00Z,100XX S AVENUE L,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,APARTMENT,False,True,...,10.0,52.0,20,1201813.0,1839112.0,2010,2018-02-10T03:50:01Z,41.713265,-87.536489,"(41.713265058, -87.536488591)"
7377,2610355,HJ209096,2003-02-27T10:00:00Z,105XX S MARYLAND AVE,1790,OFFENSE INVOLVING CHILDREN,CHILD ABDUCTION,RESIDENCE,False,True,...,9.0,50.0,20,1183775.0,1835225.0,2003,2018-02-28T03:56:25Z,41.703038,-87.602670,"(41.703037749, -87.602669826)"